<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-user"></i>
                </span>
                <h5>Cadastro de Funcionário</h5>
            </div>
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<h:form id="frm" class="form-horizontal" novalidate="novalidate">
					<p:messages autoUpdate="true" closable="true" />
					<div class="ui-fluid" >
						<br></br>
						<p:panelGrid id="capaPanel">
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
								 					    
								<p:outputLabel value="Data Cadastro" for="dataCadastroPessoa" />
	   							<p:clock id="dataCadastroPessoa" pattern="dd/MM/yyyy" value="#{cadastroPessoaBean.pessoa.dataCadastroPessoa}" />	
	   							
	   							<p:outputLabel value="Imagem" for="imagemCliente" />
								<p:fileUpload id="imagemCliente"  value="#{fileUploadView.file}" mode="simple" skinSimple="true"/>
							
								<p:inputText id="codigo" value="#{MBFuncionario.funcionario.idfuncionario}" />
							
							</p:panelGrid>	
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">	
	   							
								<p:outputLabel value="CPF" for="cpf" />
								<p:inputMask id="cpf" mask="999.999.999-99" value="#{MBFuncionario.funcionario.cpfFuncionario}" />
								
								<p:outputLabel value="Nome" for="nome"  />
								<p:inputText id="nome" value="#{MBFuncionario.funcionario.nomeFuncionario}" />
								
								<p:outputLabel value="Data de Nasc." for="dataNascimento" />
								<p:calendar id="dataNascimento" mask="99/99/9999" pattern="dd/MM/yyyy" value="#{MBFuncionario.funcionario.nascimentoFuncionario}" />
								
								<p:outputLabel value="Sexo" for="sexo" />
						        <p:selectOneMenu id="sexo" value="#{MBFuncionario.funcionario.sexofuncionario}">
						            <f:selectItem itemLabel="Selecionar" itemValue="" />
						            <f:selectItem itemLabel="Masculino" itemValue="Masculino" />
						            <f:selectItem itemLabel="Feminino" itemValue="Feminino" />
						        </p:selectOneMenu>
						        
						        
							
							</p:panelGrid>
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
							
								<p:outputLabel value="Email" for="email" />
								<p:inputText id="email" value="#{MBFuncionario.funcionario.emailfuncionario}" />				
								
								<p:outputLabel value="Telefone" for="telefone" />
								<p:inputMask id="telefone" mask="(99) 9999-9999" value="#{MBFuncionario.funcionario.telefonefuncionario}" />
						
								<p:outputLabel value="Celular" for="celular" />
								<p:inputMask id="celular" mask="(99) 99999-9999" value="#{MBFuncionario.funcionario.celularfuncionario}" />
							
							</p:panelGrid>
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
							
								<p:outputLabel value="Profissão" for="profissao" />
								<p:inputText id="profissao" value="#{MBFuncionario.funcionario.profissaoFuncionario}" />
								
								<p:outputLabel value="Cargo" for="cargo" />
								<p:inputText id="cargo" value="#{MBFuncionario.funcionario.cargofuncionario}" />
								
								
								
							</p:panelGrid>
						</p:panelGrid>							
					</div>
					<p:toolbar>
						<p:toolbarGroup>
							<p:button value="Voltar" outcome="Funcionario.xhtml" styleClass="PersButton" icon="fa fa-arrow-left"/>
							<p:commandButton value="Salvar" actionListener="#{MBFuncionario.salvar}" process="@this capaPanel" update="@form" styleClass="PersButton PersButton-success" icon="fa fa-check"  style="margin-left: 10px;"  />
						</p:toolbarGroup>
					</p:toolbar>
				</h:form>	
			</div>
		</div>
	</ui:define>
	
</ui:composition>