
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="fa  fa-fw  fa-calculator"></i>
				
				</span>
				<h5>Cadastro de Orçamento</h5>
			</div>
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()"
					onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
					closable="false" resizable="false" showHeader="false"
					position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<p:tabView id="testeUP">
					<p:tab title="Godfather Part I" id="upTeste">
						<h:form id="formAdd" class="form-horizontal">
							
							<div class="ui-fluid">
								<br></br>
								<p:panelGrid id="capaPanel">
									<p:panelGrid columns="6" layout="grid"
										columnClasses="ui-grid-col-1, ui-grid-col-4,ui-grid-col-1, ui-grid-col-3,ui-grid-col-1, ui-grid-col-2">

										<p:outputLabel value="Data Cadastro" for="dataCadastroPessoa" />
										<p:clock id="dataCadastroPessoa" pattern="dd/MM/yyyy" />

										<p:outputLabel value="Situação" for="tramite" />
										<p:inputText id="tramite"
											
											disabled="true" style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="Nº" for="codigo" />
										<p:inputText id="codigo"
											
											disabled="true" style="background: #e3e4e5;" readonly="true" />

									</p:panelGrid>
									<p:panelGrid columns="5" layout="grid"
										columnClasses="ui-grid-col-1, ui-grid-col-4,ui-grid-col-0,ui-grid-col-1,ui-grid-col-3">

										<p:outputLabel value="Cliente" for="cliente" />
										<p:inputText id="cliente"
											 />


										<p:commandButton icon="fa fa-search" title="Pesquisar Cliente"
											class="tip-bottom PersButton PersButton-edit"
											
											 />

									</p:panelGrid>
									<p:panelGrid columns="6" layout="grid"
										columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">

										<p:outputLabel value="Empresa" />
										<p:inputText id="empresa" disabled="true"
											style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="N.Fantasia" for="nomeFantasia" />
										<p:inputText id="nomeFantasia"
											
											disabled="true" style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="CNPJ" for="cnpj" />
										<p:inputMask id="cnpj" mask="99.999.999/9999"
											 disabled="true"
											style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="Email" for="email" />
										<p:inputText id="email"
											 disabled="true"
											style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="Telefone" for="telefone" />
										<p:inputMask id="telefone" mask="(99) 9999-9999"
											 disabled="true"
											style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="CEP" for="cep" />
										<p:inputMask id="cep" mask="99.999-999" value=""
											disabled="true" style="background: #e3e4e5;" readonly="true" />

									</p:panelGrid>
									<p:panelGrid columns="2" layout="grid"
										columnClasses="ui-grid-col-1, ui-grid-col-7">
										<p:outputLabel value="Observações" />
										<p:inputTextarea rows="4" cols="90" counter="display"
											maxlength="250" counterTemplate="{0} Caracteres restantes." />
										<br></br>
										<h:outputText id="display" />
									</p:panelGrid>

									<p:panelGrid id="eu">
										<p:layout style="height:200px;">
											<p:layoutUnit position="west" size="350"
												style="border: 1px solid #dddddd !important;border-radius: 4px !important;">
												<f:facet name="header">
													Resumo Geral
												</f:facet>
												<div class="ui-grid ui-grid-responsive">
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Previsão:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="previsao" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Valor Base:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="valorBase" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Desconto:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="desconto" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Valor Final:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="valorFinal" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
												</div>
											</p:layoutUnit>
											<p:layoutUnit position="center"
												style="border: 1px solid #dddddd !important;border-radius: 4px !important;">
												<f:facet name="header">
													Negociação
												</f:facet>
											</p:layoutUnit>
											<p:layoutUnit position="east" size="350"
												style="border: 1px solid #dddddd !important;border-radius: 4px !important;">
												<f:facet name="header">
													Aprovação
												</f:facet>
												<div class="ui-grid ui-grid-responsive">
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<h:outputText value="Password Mode: " />
														</div>
														<div class="ui-grid-col-8">
															<!-- 															<p:keyboard id="password" value="#{keyboardView.value9}" password="true" keypadOnly="true" /> -->
														</div>
													</div>
												</div>
											</p:layoutUnit>
										</p:layout>
									</p:panelGrid>

									<br></br>
									<br></br>
					
									<p:dataTable reflow="true" rows="5" paginator="true" paginatorPosition="bottom" value="#{MBOrcamento.produtosselecionados}" var="produto">
											
											<p:column headerText="Produto" filterBy="#{produto.nomeProduto}" sortBy="#{produto.nomeProduto}" >
												<h:outputText value="#{produto.nomeProduto}" />
											</p:column>

											<p:column headerText="Descrição">
												<h:outputText value="#{produto.descricao}" />
											</p:column>

											<p:column headerText="Preço Base">
												<h:outputText value="#{produto.precobase}" />
											</p:column>

											<p:column style="width:100px;text-align: center" headerText="Opções">
												
												<p:commandButton icon="ui-icon-plus" title="Adicionar" class="tip-bottom PersButton PersButton-edit" style="margin-left: 4px;" 
												actionListener="#{MBOrcamento.adicionar}" update="testeUP" >
												<f:attribute name="AdicionarProduto" value="#{produto}" />
										</p:commandButton>
											</p:column>
										
										</p:dataTable>
									
									
										<p:dataTable id="itensselecionado" reflow="true" rows="5"  value="#{MBOrcamento.itensProduto}" var="selecao">
											<p:column headerText="ID" style="width:10%;">
												<h:outputText  value="#{selecao.listaprodutos.idProduto}" />
											</p:column>

											<p:column headerText="Produto">
												<h:outputText value="#{selecao.listaprodutos.nomeProduto}" />
											</p:column>

											<p:column headerText="Descrição">
												<h:outputText value="#{selecao.listaprodutos.descricao}" />
											</p:column>
											<p:column style="width:100px;text-align: center" headerText="Opções">
												
												<p:commandButton icon="fa fa-pencil" title="Editar" class="tip-bottom PersButton PersButton-edit"  />
												
											</p:column>
										</p:dataTable>
										
										</p:panelGrid>
										</div>
										
						</h:form>
					</p:tab>
					<p:tab title="Godfather Part II">

					</p:tab>
				</p:tabView>

			</div>
		</div>
	</ui:define>
	<!--<div class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				<h:outputText value="To :" />
			</div>
			<div class="ui-grid-col-4">
				<h:outputText value="teste1" />
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-2">
				<h:outputText value="Address :" />
				<div class="ui-grid-col-4">
					<p:outputLabel value="teste2" />
				</div>
			</div>
		</div>
	</div>-->
</ui:composition>