<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-user"></i>
                </span>
                <h5>Produto</h5>
            </div>
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<h:form id="frm" class="form-horizontal" novalidate="novalidate">
					<p:messages autoUpdate="true" closable="true" />
					<div class="ui-fluid" >
						<br></br>
						<p:panelGrid id="capaPanel">
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
								 					    
								
								
								<p:outputLabel value="Data Cadastro" for="dataCadastro" />
	   							<p:clock id="dataCadastro" pattern="dd/MM/yyyy" />	
	   							
	   							
								
								<p:inputText id="ID"  value="#{MBProduto.produtos.idProduto}"   displey = "nome"/>
							
								
							</p:panelGrid>
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
							
								<p:outputLabel value="Descricao" for="descricao" />
								<p:inputText id="descricao"  value="#{MBProduto.produtos.descricao}" />
								
								<p:outputLabel value="Nome" for="nome" />
								<p:inputText id="nome"  value="#{MBProduto.produtos.nomeProduto}"/>
								
								<p:outputLabel value="Preco" for="preco" />
								<p:inputText id="preco"  value="#{MBProduto.produtos.precobase}" />									
								
							</p:panelGrid>
							
							
						
					
						</p:panelGrid>	
					</div>
			
					<p:toolbar>
						<p:toolbarGroup>
							<p:commandButton value="Voltar" actionListener="#{MBProduto.limparTabelaProduto}" action="Produto.xhtml" styleClass="PersButton" icon="fa fa-arrow-left"  />
							<p:commandButton value="Salvar" actionListener="#{MBProduto.salvar}"  
							process="@this capaPanel" update=":frm:ID" styleClass="PersButton PersButton-success" icon="fa fa-check"  style="margin-left: 10px;"/>
						</p:toolbarGroup>
					</p:toolbar>
				</h:form>	
			</div>
		</div>
	</ui:define>
	
</ui:composition>