<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-wrench"></i>
                </span>
                <h5>Cadastro de Perfil de Acesso</h5>
            </div>
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<h:form id="frm" class="form-horizontal" novalidate="novalidate">
					<p:messages autoUpdate="true" closable="true" />
					<div class="ui-fluid" >
						<br></br>
						<p:panelGrid id="capaPanel">
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
								 					    
								<p:outputLabel value="Data Cadastro" for="dataCadastroPessoa" />
	   							<p:clock id="dataCadastroPessoa" pattern="dd/MM/yyyy" value="#{cadastroPessoaBean.pessoa.dataCadastroPessoa}" />	
	   							
	   							<p:outputLabel value="Nome Perfil" for="nomePerfil"  />
								<p:inputText id="nomePerfil"/>
	   							
	   							<p:outputLabel value="Marcar Todos" for="marcarTodos"/>
								<p:selectBooleanCheckbox id="marcarTodos"/>
							
							</p:panelGrid>
							
							<p:panelGrid style="margin-top:20px; width:100%">
							    <f:facet name="header">
							        <p:row>
							        	<p:column >Menu</p:column>
							           	<p:column >Visualizar</p:column>
							           	<p:column >Adicionar</p:column>
							           	<p:column >Editar</p:column>
							           	<p:column >Excluir</p:column>
							           	<p:column >Relatório</p:column>
							        </p:row>
							    </f:facet>
							    <p:row>
									<p:column>Cliente</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
								</p:row>
								<p:row>	
									<p:column>Funcionário</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
								</p:row>
								<p:row>	
									<p:column>Orçamento</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
								</p:row>
								<p:row>	
									<p:column>Ordem de Serviço</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
								</p:row>
								<p:row>	
									<p:column>Pedido</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
								</p:row>
								<p:row>	
									<p:column>Financeiro</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
								</p:row>
								<p:row>	
									<p:column>Usuário</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
							       		<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
								</p:row>
								<p:row>	
									<p:column>Perfil de Acesso</p:column>
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
							        </p:column>
								</p:row>
								<p:row>
									<p:column>Configuração Geral</p:column>	
									<p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
										<label style="text-align: center !important;">
											<input name="rCliente" class="marcar" type="checkbox" value="1"></input>
										    <span class="lbl"></span>
							            </label>
							        </p:column>
							        <p:column rowspan="1">
							        </p:column>
							    </p:row>
							    <f:facet name="footer">
							        <p:row>
							            <p:column colspan="6" style="text-align: right"></p:column>           
							        </p:row>
							    </f:facet>
							</p:panelGrid>
						</p:panelGrid>							
					</div>
					<p:toolbar>
						<p:toolbarGroup>
							<p:button value="Voltar" outcome="PerfilAcesso.xhtml" styleClass="PersButton" icon="fa fa-arrow-left"/>
							<p:commandButton value="Salvar" action="#{cadastroPessoaBean.salvar}"
							process="@this capaPanel" update="@form" styleClass="PersButton PersButton-success" icon="fa fa-check"  style="margin-left: 10px;"/>
						</p:toolbarGroup>
					</p:toolbar>
				</h:form>	
			</div>
		</div>
	</ui:define>
	
</ui:composition>