<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-unlock-alt"></i>
                </span>
                <h5>Cadastro de Usuário</h5>
            </div>
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<h:form id="frm" class="form-horizontal" novalidate="novalidate">
					<p:messages autoUpdate="true" closable="true" />
					<div class="ui-fluid" >
						<br></br>
						<p:panelGrid id="capaPanel">
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
								 					    
								<p:outputLabel value="Data Cadastro" for="dataCadastroPessoa" />
	   							<p:clock id="dataCadastroPessoa" pattern="dd/MM/yyyy"  />	
							
							</p:panelGrid>	
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">	
	   							
								<p:outputLabel value="Nome" for="nome"  />
								<p:inputText id="nome" value="#{Usuariobean.funcionario}" />
								
								<p:outputLabel value="Tipo Pessoa" for="nome"  />
								<p:inputText id="nome" value="#{cadastroPessoaBean.pessoa.nome}" />
								
								<p:outputLabel value="Perfil" for="nome"  />
								<p:selectOneMenu id="perfil" value="#{cadastroPessoaBean.pessoa.sexo}">
						            <f:selectItem itemLabel="Selecionar" itemValue="" />
						            <f:selectItem itemLabel="montarPerfis" itemValue="1" />
						            <f:selectItem itemLabel="montarPerfis2" itemValue="2" />
						        </p:selectOneMenu>
								
								
							</p:panelGrid>
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">	
	   							
								<p:outputLabel value="Username" for="nome" />
								<p:inputText id="nome" />
								
								<p:outputLabel value="Senha" for="pwd1" />
								<p:password id="pwd1" match="pwd2" label="Password 1" required="true" />
								
								<p:outputLabel value="Confirmar" for="pwd2" />
								<p:password id="pwd2" label="Password 2" required="true" />
								
							</p:panelGrid>
						</p:panelGrid>							
					</div>
					<p:toolbar>
						<p:toolbarGroup>
							<p:button value="Voltar" outcome="Usuario.xhtml"	styleClass="PersButton" icon="fa fa-arrow-left"/>
							<p:commandButton value="Entrar" actionListener="#{MBLoguin.Logar}" />
								process="@this capaPanel" update="@form" styleClass="PersButton PersButton-success" icon="fa fa-check"  style="margin-left: 10px;"/>
						</p:toolbarGroup>
					</p:toolbar>
				</h:form>	
			</div>
		</div>
	</ui:define>
	
</ui:composition>