<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://xmlns.jcp.org/jsf/html" 
	xmlns:f="http://xmlns.jcp.org/jsf/core" 
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
	xmlns:p="http://primefaces.org/ui" 
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h:form id="teste">
			<p:toolbarGroup>
				<p:commandButton value="Adicionar" actionListener="#{MBCliente.prepararSalvar}" action="AddCliente.xhtml" styleClass="PersButton PersButton-add" icon="fa fa-plus" />
			</p:toolbarGroup>
		</h:form>
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="fa  fa-fw  fa-user"></i>
				</span>
				<h5>Cliente</h5>
			</div>

			<div class="widget-content nopadding">
				<!-- <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog> -->
				<h:form id="formCliente">
					<p:dataTable id="tabelaCliente" rows="5" paginator="true"
						value="#{MBCliente.itensClientes}" var="cliente"
						filteredValue="#{MBCliente.itensfiltro}"
						paginatorPosition="bottom" widgetVar="clientetable">

						<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="Pesquisar:" />
								<p:inputText id="globalFilter"
									style="width:200px;margin-left: 10px;margin-top: 5px;"
									placeholder="Digite aqui para consultar"
									value="#{MBCliente.cliente.nomeFantasiaCliente}" />

							</p:outputPanel>
						</f:facet>

						<p:column headerText="ID" filterMatchMode="contains">
							<h:outputText value="#{cliente.idCliente}" />
						</p:column>


						<p:column headerText="Empresa" filterBy="#{cliente.nomeCliente}"
							footerText="contains" filterMatchMode="contains">
							<h:outputText value="#{cliente.nomeCliente}" />
						</p:column>

						<p:column headerText="Responsavel" filterMatchMode="contains">
							<h:outputText value="#{cliente.nomeResponsavel}" />
						</p:column>


						<p:column headerText="Opções">

							<p:commandButton icon="fa fa-remove"
								actionListener="#{MBCliente.excluir}">

								<p:confirm header="Confirmação" message="Deseja Excluir ?"
									icon="ui-icon-alert" />

								<f:attribute name="clienteSelecionado" value="#{cliente}" />
							</p:commandButton>
							<p:commandButton icon="fa fa-pencil"
								actionListener="#{MBCliente.prepararEditar}"
								action="AddCliente.xhtml" update="@all">
								<f:attribute name="clienteSelecionado" value="#{cliente}" />
							</p:commandButton>

						</p:column>
					</p:dataTable>
					<p:confirmDialog   global="true"  >
		
			  <p:commandButton value="sim"  type="button" 
		            styleClass="ui-confirmdialog-yes" icon="ui-icon-check"  update=":formCliente:tabelaCliente" />
		           <p:commandButton value="nao"  type="button" 
		            styleClass="ui-confirmdialog-no" icon="ui-icon-close"  />
		
		</p:confirmDialog>
					
					
				</h:form>
				
				
			
			</div>
		</div>
	</ui:define>

</ui:composition>