<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		<h:form>
			<p:toolbarGroup>
				<p:commandLink value="Adicionar" 
				actionListener="#{MBFuncionario.prepararSalvar}" action="AddFuncionario.xhtml" 
				styleClass="PersButton PersButton-add" icon="fa fa-plus" />
			</p:toolbarGroup>
		</h:form>
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-user-plus"></i>
                </span>
                <h5>Funcionário</h5>
            </div>
			
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<h:form  id="formFuncionario" >
					<p:dataTable  id="tabelaFuncionario" rows="5"  paginator="true" value="#{MBFuncionario.itensFuncionario}" var="funcionario"  paginatorPosition="bottom"  widgetVar="carsTable">
					    
					    <f:facet name="header">
							<p:outputPanel>
								<h:outputText value="Pesquisar:" />
								<p:inputText id="globalFilter"  onkeyup="#{funcionario.nomeFuncionario}" style="width:200px;margin-left: 10px;margin-top: 5px;" placeholder="Digite aqui para consultar" />
							</p:outputPanel>
						</f:facet>
					    
					    <p:column headerText="ID" style="width:10%;">
					        <h:outputText value="#{funcionario.idfuncionario}" />
					    </p:column>
					 
					    <p:column headerText="Nome" >
									        
					        <h:outputText value="#{funcionario.nomeFuncionario}" />
					        
					    </p:column>
					 
					    <p:column headerText="CPF">
					        <h:outputText value="#{funcionario.cpfFuncionario}" />
					    </p:column>
					    
					     <p:column headerText="Cargo">
					        <h:outputText value="#{funcionario.cargofuncionario}" />
					    </p:column>
					    
					    <p:column headerText="Celular">
					        <h:outputText value="#{funcionario.celularfuncionario}" />
					    </p:column>
				    	
				    	<p:column headerText="Opções">
				    		 
				             <p:commandButton icon="fa fa-remove"  
				                  actionListener="#{MBFuncionario.Excluir}" update=":formFuncionario:tabelaFuncionario" > 
		                            
		                            <p:confirm header="Confirmação" message="Deseja Excluir ?" icon="ui-icon-alert" />
		                            
		                            <f:attribute name="funcionarioSelecionado" value="#{funcionario}"  />
		                            </p:commandButton>
	                            <p:commandButton icon="fa fa-pencil"
	                             actionListener="#{MBFuncionario.prepararEditar}" action="AddFuncionario.xhtml" update="@all">
	                             <f:attribute name="funcionarioSelecionado" value="#{funcionario}"  />
	                             </p:commandButton>
	
				        </p:column>
					</p:dataTable>
						<p:confirmDialog   global="true"  >
		
			  <p:commandButton value="sim"  type="button" 
		            styleClass="ui-confirmdialog-yes" icon="ui-icon-check"  />
		           <p:commandButton value="nao"  type="button" 
		            styleClass="ui-confirmdialog-no" icon="ui-icon-close"  />
		
		</p:confirmDialog>
					
					
				</h:form>
				
				
			
			</div>
		</div>
		
		
	</ui:define>
	
</ui:composition>