<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-user"></i>
                </span>
                <h5>Cadastro de Cliente</h5>
            </div>
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<h:form id="frm" class="form-horizontal" novalidate="novalidate">
					<p:messages autoUpdate="true" closable="true" />
					<div class="ui-fluid" >
						<br></br>
						<p:panelGrid id="capaPanel">
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
								 					    
								
								
								<p:outputLabel value="Data Cadastro" for="dataCadastro" />
	   							<p:clock id="dataCadastro" pattern="dd/MM/yyyy" />	
	   							
	   							<p:outputLabel value="Imagem" for="imagemCliente" />
								<p:fileUpload id="imagemCliente"  value="#{fileUploadView.file}" mode="simple" skinSimple="true"/>
								
								<p:inputText id="ID"  value="#{MBCliente.cliente.idCliente}" />
							
								
							</p:panelGrid>
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
							
								<p:outputLabel value="Empresa" for="empresa" />
								<p:inputText id="empresa"  value="#{MBCliente.cliente.nomeCliente}" />
								
								<p:outputLabel value="Nome Fantasia" for="nomeFantasia" />
								<p:inputText id="nomeFantasia"  value="#{MBCliente.cliente.nomeFantasiaCliente}"/>
								
								<p:outputLabel value="CNPJ" for="cnpj" />
								<p:inputMask id="cnpj" mask="99.999.999/9999" value="#{MBCliente.cliente.cnpj}" />									
								
							</p:panelGrid>
							
							<p:panelGrid  columns="6" layout="grid" 
							columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">
							
								<p:outputLabel value="Email" for="email" />
								<p:inputText id="email" value="#{MBCliente.cliente.emailEmpresa}" />				
								
								<p:outputLabel value="Telefone" for="telefone" />
								<p:inputMask id="telefone" mask="(99) 9999-9999" value="#{MBCliente.cliente.telefoneEmpresa}" />
								
								<p:outputLabel value="Cep" for="cep" />
								<p:inputMask id="cep" mask="99.999-999" value="#{MBCliente.cliente.cepEmpresa}" />
								
								<p:outputLabel value="Rua" for="rua" />
								<p:inputText id="rua" value="#{MBCliente.cliente.ruaEmpresa}" />
								
								<p:outputLabel value="Número" for="numero" />
								<p:inputText id="numero" value="#{MBCliente.cliente.numeroEmpresa}" />
								
								<p:outputLabel value="Complemento" for="complemento" />
								<p:inputText id="complemento" value="#{MBCliente.cliente.complementoEmpresa}" />
								
								<p:outputLabel value="Bairro" for="bairro" />
								<p:inputText id="bairro" value="#{MBCliente.cliente.bairroEmpresa}" />
								
								<p:outputLabel value="Cidade" for="cidade" />
								<p:inputText id="cidade" value="#{MBCliente.cliente.cidadeEmpresa}" />
								
								<p:outputLabel value="Estado" for="estado" />
								<p:inputText id="estado" value="#{MBCliente.cliente.estadoEmpresa}" />	
									
								<p:outputLabel value="Site" for="cite" />
								<p:inputText id="cite" value="#{MBCliente.cliente.siteEmpresa}" />	
												
								
								
							</p:panelGrid>
							
						</p:panelGrid>	
					</div>
				
			
			
					<p:toolbar>
						<p:toolbarGroup>
							<p:button value="Voltar" outcome="Cliente.xhtml" styleClass="PersButton" icon="fa fa-arrow-left"/>
							<p:commandButton value="Salvar" actionListener="#{MBCliente.salvar}"  
							process="@this capaPanel" update=":frm:ID" styleClass="PersButton PersButton-success" icon="fa fa-check"  style="margin-left: 10px;"/>
						</p:toolbarGroup>
					</p:toolbar>
				</h:form>	
			</div>
		</div>
	</ui:define>
	
</ui:composition>