<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h:form>
			<p:toolbarGroup>
				<p:commandLink value="Adicionar" actionListener="#{MBOrcamento.prepararSalvar}"  styleClass="PersButton PersButton-add" icon="fa fa-plus" update="@form"  />
			</p:toolbarGroup>
		</h:form>
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-calculator"></i>
                </span>
                <h5>Orçamento</h5>
            </div>
			
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
					</p:dialog>
				<h:form id="formOrcamento">
					
					<p:dataTable  id="tabelaOrcamento" reflow="true" rows="5" paginator="true"   value="#{MBTeste.listaOrcamento}" var="lista" paginatorPosition="bottom" >
					   
					   	<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="Pesquisar:" />
								<p:inputText id="globalFilter"   onkeyup="PF('tabelaOrcamento').filter()"  style="width:200px;margin-left: 10px;margin-top: 5px;" placeholder="Digite aqui para consultar" />
							</p:outputPanel>
						</f:facet>
					   
					   
					    <p:column headerText="ID" style="width:10%;" >
					        <h:outputText  value="#{lista.idOrcamento}" />
					    </p:column>
					 
					    <p:column headerText="Cliente">
					        <h:outputText  value="#{lista.cliente.nomeFantasiaCliente}"   />
 						</p:column>

						<p:column headerText="Opções">
				    		 
				             <p:commandButton icon="fa fa-remove"  
				                  actionListener="#{MBOrcamento.Excluir}"  > 		                            
		                            <p:confirm header="Confirmação" message="Deseja Excluir ?" icon="ui-icon-alert" />		                            
		                            <f:attribute name="orcamentoSelecionado" value="#{lista}"  />
		                            </p:commandButton>
	                            <p:commandButton icon="fa fa-pencil"
	                             actionListener="#{MBOrcamento.prepararEditar}" action="AddOrcamentos.xhtml" update="@all">
	                             <f:attribute name="orcamentoSelecionado" value="#{lista}"  />
	                             </p:commandButton>
	              
	
				        </p:column>
					</p:dataTable>
						<p:confirmDialog   global="true"  >
		
			  <p:commandButton value="sim"  type="button" 
		            styleClass="ui-confirmdialog-yes" icon="ui-icon-check"  update=":formOrcamento:tabelaOrcamento" />
		           <p:commandButton value="nao"  type="button" 
		            styleClass="ui-confirmdialog-no" icon="ui-icon-close"  />
		
		</p:confirmDialog>
					
					
				</h:form>
				
				
			
			</div>
		</div>
	</ui:define>

</ui:composition>