<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">

		<h1 class="aw-page-title">Cadastro Cliente</h1>

		<p:dataTable emptyMessage="Dados não encontrado" value="#{MBPessoa.itensPessoa}"
					 var="item"	>
			
			<p:column headerText="Id">
			  	<h:outputText value="#{item.idPessoa}" />
			</p:column>

			<p:column headerText="nome">
				<h:outputText value="#{item.nomePessoa}" />
			</p:column>

			<p:column headerText="Documentos">
				<h:outputText value="#{item.documentoPessoa}" />
			</p:column>

			<p:column headerText="Rua">
				<h:outputText value="#{item.ruaPessoa}" />
			</p:column>
		</p:dataTable>


	</ui:define>
</ui:composition>