<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		
			<p:toolbarGroup>
				<p:button value="Adicionar" outcome="AddPerfilAcesso.xhtml" styleClass="PersButton PersButton-add" icon="fa fa-plus" />
			</p:toolbarGroup>
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-wrench"></i>
                </span>
                <h5>Perfil de Acesso</h5>
            </div>
			
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando2.gif" />
				</p:dialog>
				<h:form>
					<p:dataTable reflow="true" rows="5" paginator="true" value="#{cadastroPessoaBean.pessoa}" var="pessoa">
					    <p:column headerText="#" style="width:10%;">
					        <h:outputText value="#{pessoa.codigo}" />
					    </p:column>
					 
					    <p:column headerText="Nome">
					        <h:outputText />
					    </p:column>
					    
					    <p:column headerText="Data de Criação">
					        <h:outputText />
					    </p:column>
					 
					     <p:column headerText="Situação">
					        <h:outputText />
					    </p:column>
				    	
				    	<p:column style="width:100px;text-align: center" headerText="Opções">
				             <p:commandButton icon="fa fa-pencil" title="Editar" class="tip-bottom PersButton PersButton-edit" style="margin-left: 4px;" />
				             <p:commandButton icon="fa fa-remove" title="Excluir" class="tip-bottom PersButton PersButton-remove"  style="margin-left: 4px;"/>
				        </p:column>
					</p:dataTable>
				</h:form>
			</div>
		</div>
	</ui:define>
	
</ui:composition>