<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		
			<p:toolbarGroup>
				<p:commandButton value="Adicionar" actionListener="#{MBCliente.prepararSalvar}" action="AddPessoa.xhtml" styleClass="PersButton PersButton-add" icon="fa fa-plus" />
			</p:toolbarGroup>
		<div class="widget-box">
		 	<div class="widget-title">
                <span class="icon">
                    <i class="fa  fa-fw  fa-users"></i>
                </span>
                <h5>Pessoa</h5>
            </div>
			
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				<h:form>
					<p:dataTable reflow="true" rows="5" paginator="true" value="#{MBPessoa.itensPessoa}" var="pessoa">
					    <p:column headerText="ID" style="width:10%;">
					        <h:outputText value="#{pessoa.idPessoa}"/> />
					    </p:column>
					 
					    <p:column headerText="Nome">
					        <h:outputText value="#{pessoa.nomePessoa}"/>
					    </p:column>
					 
					    <p:column headerText="CPF">
					        <h:outputText value="#{pessoa.documentoPessoa}" />
					    </p:column>
				    	
				    	<p:column style="width:100px;text-align: center" headerText="Opções">
				             <p:commandButton icon="fa fa-pencil" title="Editar" class="tip-bottom PersButton PersButton-edit" />
				             <p:commandButton icon="fa fa-remove" title="Excluir" class="tip-bottom PersButton PersButton-remove"  style="margin-left: 4px;"/>
				        </p:column>
					</p:dataTable>
				</h:form>
			</div>
		</div>
	</ui:define>
	
</ui:composition>