<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">
	
	<ui:define name="content">
		<h1 class="aw-page-title">Orçamento</h1>
		
		<h:form id="frm">
			
			<p:toolbar>
				<p:toolbarGroup>
					<p:commandButton value="Salvar" action="#{cadastroOrcamentoBean.Salvar}"
						process="@this capaPanel" update="@form" styleClass="ui-priority-primary"/>
				</p:toolbarGroup>
			</p:toolbar>
			
			<p:messages autoUpdate="true" closable="true"/>
			
			<div class="ui-fluid">
				<p:panelGrid id="capaPanel" columns="4" layout="grid" 
					style="margin-top: 20px; margin-bottom: 40px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">
				
					<p:outputLabel value="Cliente" for="cliente" />
					<p:inputText id="cliente" value="#{cadastroOrcamentoBean.orcamento.cliente}" />
					
					<p:outputLabel value="CPF" for="cpf" />
					<p:inputMask id="cpf" mask="999.999.999-99" value="#{cadastroOrcamentoBean.orcamento.cpf}" />
					
					<p:outputLabel value="Telefone" for="telefone" />
					<p:inputText id="telefone" value="#{cadastroOrcamentoBean.orcamento.telefone}" />
					
					<p:outputLabel value="Condição de pagto" for="condicaoPagto" />
					<p:selectOneMenu id="condicaoPagto" value="#{cadastroOrcamentoBean.orcamento.condicaoPagamento}">
						<f:selectItem itemLabel="Selecione" />
						<f:selectItem itemLabel="A vista" itemValue="A vista" />
						<f:selectItem itemLabel="30 dias" itemValue="30 dias" />
						<f:selectItem itemLabel="30 + 60 dias" itemValue="30 + 60 dias" />
					</p:selectOneMenu>
					
					<p:outputLabel value="Dias entrega" for="diasEntrega" />
					<p:inputText id="diasEntrega" value="#{cadastroOrcamentoBean.orcamento.diasEntrega}"/>
					
					<p:outputLabel value="Validade" for="validade"/>
					<p:calendar id="validade" pattern="dd/MM/yyyy" value="#{cadastroOrcamentoBean.orcamento.dataValidade}"/>
					
				</p:panelGrid>
			</div>
			
			<p:commandButton value="Novo item"
				action="#{cadastroOrcamentoBean.novoItem}"
				oncomplete="PF('itemDialog').show()"
				process="@this" update="itemPanel">
				<p:resetInput target="itemPanel" />
			</p:commandButton>
			
			<p:dataTable id="itensTable" value="#{cadastroOrcamentoBean.orcamento.itens}" var="item"
				emptyMessage="Nenhum item adicionado."
				reflow="true"
				style="margin-top: 10px">
				
				<p:column headerText="Descrição">
					<h:outputText value="#{item.descricao}"/>
				</p:column>
				
				<p:column headerText="Tipo">
					<h:outputText value="#{item.tipo.descricao}"/>
				</p:column>
				
				<p:column headerText="Preço">
					<h:outputText value="#{item.preco}">
						<f:convertNumber type="currency" />
					</h:outputText>
				</p:column>
			
			</p:dataTable>
			
			<p:dialog widgetVar="itemDialog" header="Novo item"
				resizable="false" style="min-width: 300px" responsive="true">
				
				<h:panelGroup id="itemPanel" layout="block" styleClass="ui-fluid">
					<p:messages id="msgDialog" autoUpdate="false" />
					
					<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder"
						columnClasses="ui-grid-col-4, ui-grid-col-8">
					
						<p:outputLabel value="Descrição" for="descricao" />
						<p:inputText id="descricao" value="#{cadastroOrcamentoBean.item.descricao}" />
						
						<p:outputLabel value="Tipo" for="tipo" />
						<p:selectOneMenu id="tipo" value="#{cadastroOrcamentoBean.item.tipo}">
							<f:selectItem itemLabel="Selecione" />
							<f:selectItem itemLabel="Produto" itemValue="PRODUTO" />
							<f:selectItem itemLabel="Serviço" itemValue="SERVICO" />
						</p:selectOneMenu>
						
						<p:outputLabel value="Preço" for="preco" />
						<p:inputText id="preco" value="#{cadastroOrcamentoBean.item.preco}">
							<f:convertNumber />
						</p:inputText>
						
						<p:outputLabel/>
						<p:commandButton value="Adicionar"
							action="#{cadastroOrcamentoBean.adicionarItem}"
							process="itemPanel" update="itemPanel itensTable"
							oncomplete="if (!args.validationFailed) PF('itemDialog').hide()" />
					</p:panelGrid>
					
				</h:panelGroup>
				
			</p:dialog>
			
		</h:form>
	</ui:define>
	
</ui:composition>