<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<h:form>>
	
	<p:toolbar>
						<p:toolbarGroup>
							<p:button value="Voltar" outcome="Cliente.xhtml" styleClass="PersButton" icon="fa fa-arrow-left"/>
							<p:commandButton value="Salvar" actionListener="#{MBLoguin.Logar}"  
							  styleClass="PersButton PersButton-success" icon="fa fa-check"  style="margin-left: 10px;"/>
						</p:toolbarGroup>
					</p:toolbar>
				</h:form>	
	
	
	
	
</html>