<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="fa  fa-fw  fa-calculator"></i>
				
				</span>
				<h5>Cadastro de Orçamento</h5>
			</div>
			<div class="widget-content nopadding">
				<p:ajaxStatus onstart="PF('statusDialog').show()"
					onsuccess="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
					closable="false" resizable="false" showHeader="false"
					position="center">
					<p:graphicImage name="images/processando.gif" />
				</p:dialog>
				
						<h:form id="formAdd" class="form-horizontal">
							
							<div class="ui-fluid">
								<br></br>
								<p:panelGrid id="capaPanel">
									<p:panelGrid columns="6" layout="grid"
										columnClasses="ui-grid-col-1, ui-grid-col-4,ui-grid-col-1, ui-grid-col-3,ui-grid-col-1, ui-grid-col-2">

										<p:outputLabel value="Data Cadastros" for="dataCadastroPessoa" />
										<p:clock id="dataCadastroPessoa" pattern="dd/MM/yyyy"
											 />

										<p:outputLabel value="Situação" for="tramite" />
										<p:inputText id="tramite"
											
											disabled="true" style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="Nº" for="codigo" />
										<p:inputText id="codigo"  
											
											disabled="true" style="background: #e3e4e5;" readonly="true" />

									</p:panelGrid>
									<p:panelGrid columns="8" layout="grid"
										columnClasses="ui-grid-col-1, ui-grid-col-0,ui-grid-col-2,ui-grid-col-2,ui-grid-col-2">
										
										
										<p:outputLabel value="Cliente" for="cliente"  />
										
										<p:inputText id="id"  value="#{MBOrcamento.codigo}" >
											<p:ajax event="change" listener="#{MBOrcamento.buscaClienteCodigo()}"  update="@all"  /> 
										</p:inputText>
										
										<p:inputText id="cliente" />
																					
										<p:commandButton icon="fa fa-search" title="Pesquisar Clientes"
											class="tip-bottom PersButton PersButton-edit" onclick="PF('Teste').show();" update="formCliente" actionListener="#{MBOrcamento.buscaCliente()}"  >
										   <f:attribute name="clienteSelecionado" value="cliente" />
									</p:commandButton>
									
									</p:panelGrid>
									
									<p:panelGrid columns="6" layout="grid" 
										columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-3">

										<p:outputLabel value="Empresa" />
										<p:inputText id="empresa" disabled="true"
											style="background: #e3e4e5;" readonly="true" value="#{MBOrcamento.cliente.nomeCliente}" />

										<p:outputLabel value="N.Fantasia" for="nomeFantasia" />
										<p:inputText id="nomeFantasia" value="#{MBOrcamento.cliente.nomeFantasiaCliente}"
											
											disabled="true" style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="CNPJ" for="cnpj" />
										<p:inputMask id="cnpj" mask="99.999.999/9999"
											 disabled="true" value="#{MBOrcamento.cliente.cnpj}"
											style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="Email" for="email" />
										<p:inputText id="email"
											 disabled="true"  value="#{MBOrcamento.cliente.emailEmpresa}"
											style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="Telefone" for="telefone" />
										<p:inputMask id="telefone" mask="(99) 9999-9999"
											 disabled="true" value="#{MBOrcamento.cliente.telefoneEmpresa}"
											style="background: #e3e4e5;" readonly="true" />

										<p:outputLabel value="CEP" for="cep" />
										<p:inputMask id="cep" mask="99.999-999" value="#{MBOrcamento.cliente.cepEmpresa}"
											disabled="true" style="background: #e3e4e5;" readonly="true" />

									</p:panelGrid>
									<p:panelGrid columns="2" layout="grid"
										columnClasses="ui-grid-col-1, ui-grid-col-7">
										<p:outputLabel value="Observações" />
										<p:inputTextarea rows="4" cols="90" counter="display"
											maxlength="250" counterTemplate="{0} Caracteres restantes." value="#{MBOrcamento.orcamento.observacaoOrcamento}" />
										<br></br>
										<h:outputText id="display"  />
									</p:panelGrid>

									<p:panelGrid id="eu">
										<p:layout style="height:200px;">
											<p:layoutUnit position="west" size="350"
												style="border: 1px solid #dddddd !important;border-radius: 4px !important;">
												<f:facet name="header">
													Resumo Geral
												</f:facet>
												<div class="ui-grid ui-grid-responsive">
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Previsão:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="previsao" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Valor Base:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="valorBase" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Desconto:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="desconto" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<p:outputLabel value="Valor Final:" />
														</div>
														<div class="ui-grid-col-8">
															<p:inputText id="valorFinal" disabled="true"
																style="background: #e3e4e5;" readonly="true" />
														</div>
													</div>
												</div>
											</p:layoutUnit>
											<p:layoutUnit position="center"
												style="border: 1px solid #dddddd !important;border-radius: 4px !important;">
												<f:facet name="header">
													Negociação
												</f:facet>
											</p:layoutUnit>
											<p:layoutUnit position="east" size="350"
												style="border: 1px solid #dddddd !important;border-radius: 4px !important;">
												<f:facet name="header">
													Aprovação
												</f:facet>
												<div class="ui-grid ui-grid-responsive">
													<div class="ui-grid-row">
														<div class="ui-grid-col-4">
															<h:outputText value="Password Mode: " />
														</div>
														<div class="ui-grid-col-8">
															<!-- 															<p:keyboard id="password" value="#{keyboardView.value9}" password="true" keypadOnly="true" /> -->
														</div>
													</div>
												</div>
											</p:layoutUnit>
										</p:layout>
									</p:panelGrid>

									<br></br>
									<br></br>
									
									
					
									<p:dataTable reflow="true" rows="5" paginator="true" paginatorPosition="bottom" value="#{MBconsultaProduto.itensProdutos}" var="produto">
											
											<p:column headerText="Id" filterBy="#{produto.idProduto}" sortBy="#{produto.idProduto}" >
												<h:outputText value="#{produto.idProduto}"  />
											</p:column>

											<p:column headerText="Produto">
												<h:outputText value="#{produto.nomeProduto}" />
											</p:column>

											<p:column headerText="Descrição">
												<h:outputText value="#{produto.descricao}" />
											</p:column>

											<p:column style="width:100px;text-align: center" headerText="Opções">
												
												<p:commandButton icon="ui-icon-plus" title="Adicionar" class="tip-bottom PersButton PersButton-edit" style="margin-left: 4px;" 
												actionListener="#{MBOrcamento.adicionar}" update=":formAdd:itensselecionado" >
												<f:attribute name="AdicionarProduto" value="#{produto}" />
										</p:commandButton>
											</p:column>
										
										</p:dataTable>
									
									
										<p:dataTable id="itensselecionado" reflow="true" rows="5" paginatorPosition="bottom"  value="#{MBOrcamento.itensProduto}" var="selecao">
											<p:column headerText="ID" style="width:10%;">
												<h:outputText  value="#{selecao.id_produtos.idProduto}"  />
											</p:column>

											<p:column headerText="Produto">
												<h:outputText value="#{selecao.id_produtos.nomeProduto}" />
											</p:column>

											<p:column headerText="Descrição">
												<h:outputText value="#{selecao.id_produtos.descricao}" />
											</p:column>
											<p:column style="width:100px;text-align: center" headerText="Opções">
												
												<p:commandButton icon="ui-icon-plus" title="Remover" class="tip-bottom PersButton PersButton-edit"
												
												actionListener="#{MBOrcamento.removerLista}"  update=":formAdd:itensselecionado" >
												
												<f:attribute  name="removerLista"  value="#{selecao}"  />
											</p:commandButton>
											</p:column>
										</p:dataTable>
										
										</p:panelGrid>
										
																</div>
														<p:toolbar>
						<p:toolbarGroup>
							<p:button value="Voltar" outcome="Orcamentos.xhtml" styleClass="PersButton" icon="fa fa-arrow-left"  update="@form"/>
							<p:commandButton value="Salvar" actionListener="#{MBOrcamento.salvar}"  action="#{MBTeste.limparTabelaProduto}"
							process="@this capaPanel"  styleClass="PersButton PersButton-success" icon="fa fa-check"  style="margin-left: 10px;" update="@all">
							<f:attribute name="itensselecionado" value="#{produto}" />
							
							</p:commandButton>
						</p:toolbarGroup>
						
						
					</p:toolbar>
						
						</h:form>
						
		<p:dialog id="modalDialog" header="Clientes"
				widgetVar="Teste" modal="true" height="400" width="800"
				showEffect="side" hideEffect="explode">
				<h:form id="formCliente">
					<p:dataTable  id="tabelaCliente"   rows="5" paginator="true" value="#{MBOrcamento.itensClientes}" var="cliente"   paginatorPosition="bottom" widgetVar="clientetable">

						<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="Pesquisar:" />
								<p:inputText id="globalFilter"   onkeyup="PF('clientetable').filter()"  style="width:200px;margin-left: 10px;margin-top: 5px;" placeholder="Digite aqui para consultar" />
							</p:outputPanel>
						</f:facet>

						<p:column headerText="ID"  filterMatchMode="contains" >
							<h:outputText value="#{cliente.idCliente}" />
						</p:column>
						
						
						<p:column headerText="Empresa"  >
							<h:outputText value="#{cliente.nomeCliente}" />
						</p:column>

						<p:column headerText="Responsavel"  filterMatchMode="contains">
							<h:outputText value="#{cliente.nomeResponsavel}" />
						</p:column>


						<p:column headerText="Opções">
				    		 
				  			<p:commandButton icon="ui-icon-plus" title="Adicionar" class="tip-bottom PersButton PersButton-edit" style="margin-left: 4px;" 
												actionListener="#{MBOrcamento.listaCliente}" onclick="PF('Teste').close();"   update="@all" >
												<f:attribute name="clienteSelecionados" value="#{cliente}" />
										</p:commandButton>
				  
	                     </p:column>
				        
					</p:dataTable>
				
					</h:form>
			</p:dialog>

		</div>
		</div>
	</ui:define>

</ui:composition>